<div class="chat__logs_container"
  #logsContainer>
  <div class="empty-message" *ngIf="messages.length === 0">
    Сообщений пока нет. Начните разговор!
  </div>
  <div 
    class="message__container"
    *ngFor="let message of messages" 
    [ngClass]="{ 'mine': message.author === username, 'other': message.author !== username }">
    <div class="container__wrapper">
      <div class="container__infoMessage">
        <div class="container__userName">{{ message.author }}</div>
        <div class="container__userMessageDate">{{ message.timestamp | date:'dd.MM.yy, HH:mm' }}</div>
      </div>
      <div class="container__userMessage">{{ message.text }}</div>
    </div>
  </div>
</div>