.main__createUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white);
  gap: 10px;
}

.createUser__input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-white);
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-blue)
}

.createUser__button {
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--color-white);
  color: var(--color-blue);
  cursor: pointer;
}

.createUser__button:hover{
  background-color: var(--color-lightBlue);
  color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
}
