:root {
  --color-blue : #2d3970;
  --color-darkBlue : #1e2750;
  --color-white : #eeeeeb;
  --color-lightBlue : #2e4091;
  --color-mineUser : #2e4091;
  --color-otherUser : #1e2750;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-blue);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
